.calculator-card {
  position: relative;
  width: 70%; 
  height: 60%;  
  margin: 20px 100px; 
  border-radius: 16px;
  border: 1px solid #dddce0;
  opacity: 1; 
  overflow: hidden;
  background: linear-gradient(6.76deg, #ffffff 72.52%, #73bdff 148.03%);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 100px; 
}

.image-coin {
  position: absolute;
  top: -16%;
  left: 72%;
  width: 505px;
  height: 450px;
  gap: 0px;
  opacity: 0px;
  object-fit: cover;
  z-index: 1;
}

.sidebar-items-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line-create-section {
  position: relative;
  left: -9%;
  inline-size: 100%;
  border: 1px solid #E0E0E0;
  margin: 10px;
}

.sidebar-item-icon-card svg {
  display: flex;
  align-items: center;
  width: 57px;
  height: 69px;
  gap: 0px;
  color: #0242BF;
  ;
  margin-top: 20px;
  padding-top: 6px;
} 

.sidebar-item-icon-card h1 {
  z-index: 10;
}

.calculator-title {
  font-size: 60px; 
  color: #012469;
  font-weight: 800;
  margin-bottom: 20px; 
  margin-left: 20px;
}

.calculator-subtitle {
  font-size: 32px; 
  margin-bottom: 20px; 
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  gap: 16px; /* Espacio entre las columnas y filas */
  margin-top: 16px;
}

.input-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.calculator-card .show-text {
  color: #ABAFB1;
  font-size: 14px;
  margin-top: 0px;
}

.calculate-button {
  width: 100%; 
  padding: 15px; 
  background: linear-gradient(88.81deg, #29457C 8.13%, #3D66B7 102.97%);
  color: white; 
  border: none; 
  border-radius: 12px; 
  cursor: pointer; 
  font-size: 16px; 
  margin-top: 20px; 
}

.calculate-button:hover {
  background-color: #5ca0e2; 
}

@media (min-width: 600px) {
  .input-container {
    flex-direction: row; 
  }

  .input-column {
    width: 50%; 
  }
}
