.product-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #29457C, #3D66B7);
  padding: 20px;
  border-radius: 12px;
}

.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-header h3 {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 16px;
}

.metric-card {
  text-align: center;
  box-shadow: 0px 4px 40px 0px #0000000D;
  background-color: rgba(255,255,255,0.1);
  padding: 16px;
  border-radius: 8px;
  position: relative;
}

.metric-card.dark {
  background-color: rgba(0,0,0,0.1);
}